<!DOCTYPE html>
<html>
<head>
    <title>登录 - UCLogs</title>
    {% include ../include/inheader %}
    <link rel="stylesheet" href="/css/compiled/sign-in.css" type="text/css" media="screen" />
</head>
<body>
    
    <div class="navbar navbar-inverse navbar-static-top" role="navigation">
    {% include ../include/navbar %}
    </div>

    <div id="sign_in2">
        <div class="container">
            <div class="section_header text-center">
                <h3>登录</h3>
            </div>
            <div class="row login">
                

                <div class="col-sm-6 col-sm-offset-3 signin_box">
                    <div class="box">
                        <div class="box_cont">

                            <div class="form">
                                <form method="post" action="/account/postLogin">
                                    <input type="hidden" name="rd" value="{%- rd %}"/>
                                    {% if (error) { %}
                                        <div class="alert alert-danger">{%= error %}</div>
                                    {% } %}
                                    <input name="email" value="{%= email || '' %}" type="text" placeholder="Email" class="form-control">
                                    <input name="password" type="password" placeholder="密码" class="form-control">
                                    <div class="forgot">
                                        <a href="/account/findPwd">忘记密码?</a>
                                    </div>
                                    <div class="forgot">
                                        <span>还没有账户?</span>
                                        <a href="/account/register">注册</a>
                                    </div>
                                    <input type="submit" value="登录">
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    {% include ../include/footer %}
</body>
</html>