<!DOCTYPE html>
<html>
<head>
    <title>UCLogs 云日志 - 实时日志收集、搜索、分析</title>
    {% include include/inheader %}
    
    <link rel="stylesheet" href="/css/compiled/index.css?1" type="text/css" media="screen" />
    <meta name="keywords" content="云日志, log, logs, 日志, 分析, debug" />
    <meta name="description" content="实时日志收集、搜索、分析"/>
</head>
<body style="background-color:#e6e6e6">
    <div class="navbar navbar-inverse navbar-static-top" role="navigation" style="margin-bottom:0">
    {% include include/navbar %}
    </div>


    <section id="feature_slider" class="lol">
        <article class="slide" id="uchome" style="background: url('/img/backgrounds/aqua.jpg') repeat-x top center;">
            <div class="container">
                <div class="col-md-4 info">
                    <h2>实时日志<br>收集、搜索、分析</h2>

                    <div style="margin:30px 0 30px">
                        {% if (visitor) { %}
                            <a class="btn btn-warning btn-lg" href="/console/" style="font-family: verdana; font-weight: bold;">免费试用</a>
                        {% } else { %}
                            <a class="btn btn-warning btn-lg" href="/account/register" style="font-family: verdana; font-weight: bold;">免费试用</a>
                        {% } %}
                    </div>

                    <span style="color:white">无需硬件投入，无需授权费用，按需收费</span>
                </div>
                <div class="col-md-8 img">
                    <img src="/s/img/home-1.png" />
                </div>
                <!-- <img src="/s/img/home-1.png" />
                <div class="info">
                    <h2>实时日志<br>收集、搜索、分析</h2>

                    <div style="margin:30px 0 30px">
                        {% if (visitor) { %}
                            <a class="btn btn-warning btn-lg" href="/console/" style="font-family: verdana; font-weight: bold;">免费试用</a>
                        {% } else { %}
                            <a class="btn btn-warning btn-lg" href="/account/register" style="font-family: verdana; font-weight: bold;">免费试用</a>
                        {% } %}
                      
                    </div>
                    <span style="color:white">无需硬件投入，无需授权费用，按需收费</span>
                </div> -->

            </div>
        </article>
        
    </section>

    <div id="showcase">
        <div class="container">
            <div class="row feature_wrapper">
                <!-- Features Row -->
                <div class="features_op1_row">
                    <!-- Feature -->
                    <div class="col-sm-4 feature first">
                        
                        <div class="text">
                            <h6>集中管理</h6>
                            <p>
                                只需安装 UCLogs 引擎，通过页面配置日志路径，我们的引擎会自动收集你的 Log 数据到我们的云平台。
                            </p>
                        </div>
                    </div>
                    <!-- Feature -->
                    <div class="col-sm-4 feature">
                        
                        <div class="text">
                            <h6>快速检索</h6>
                            <p>
                                对收集的 Log 数据建立索引，提供海量数据的搜索和分析服务，帮您快速进行实时故障排除和分析。
                            </p>
                        </div>
                    </div>
                    <!-- Feature -->
                    <div class="col-sm-4 feature last">
                        
                        <div class="text">
                            <h6>简单易用可扩展</h6>
                            <p>
                                所有配置只需要20秒钟就能完成，不需要硬件，不需要维护，不用担心扩展性，所有事情交给我们来处理。
                            </p>
                        </div>
                    </div>
                </div>

            </div>
            <div style="height:20px"></div>
        </div>
    </div>

    {% include include/footer %}
</body>
</html>