<!DOCTYPE html>
<html>
<head>
    <title>UCLogs - 实时日志收集、搜索、分析</title>
    {% include include/inheader %}
    
    <link rel="stylesheet" href="/css/compiled/index.css" type="text/css" media="screen" />
    <meta name="keywords" content="log, logs, 日志, 分析, debug" />
    <meta name="description" content="实时日志收集、搜索、分析"/>
</head>
<body class="pull_top" style="background-color:#e6e6e6">
    <div class="navbar navbar-inverse navbar-static-top" role="navigation" style="margin-bottom:0">
    {% include include/navbar %}
    </div>

    <section id="feature_slider" class="lol">
        
        <article class="slide" id="ideas" style="background: url('/img/backgrounds/aqua.jpg') repeat-x top center;">
            <div class="info">
                <h2>实时日志收集、搜索、分析</h2>
                <span style="color:white">无需硬件投入，无需授权费用，按需收费</span>

                <div style="margin-top:30px">
                    {% if (visitor) { %}
                        <a class="btn btn-warning btn-lg" href="/console/" style="font-family: verdana; font-weight: bold;">免费试用</a>
                    {% } else { %}
                        <a class="btn btn-warning btn-lg" href="/account/register" style="font-family: verdana; font-weight: bold;">免费试用</a>
                    {% } %}
                  
                </div>
            </div>
        </article>      
    </section>

    <div id="showcase">
        <div class="container">
            <div class="row feature_wrapper">
                <!-- Features Row -->
                <div class="features_op1_row">
                    <!-- Feature -->
                    <div class="col-sm-4 feature first">
                        
                        <div class="text">
                            <h6>报表</h6>
                            <p>
                                我们通过分析日志文件、访问数据库、执行服务器命令来自动收集应用程序数据。让你的数据更加直观和便于分析。
                            </p>
                        </div>
                    </div>
                    <!-- Feature -->
                    <div class="col-sm-4 feature">
                        
                        <div class="text">
                            <h6>报警</h6>
                            <p>
                                当数据停止更新，或者超过设定的阈值时，会自动提醒你，不会让你因为应用程序问题而遭到损失。 
                            </p>
                        </div>
                    </div>
                    <!-- Feature -->
                    <div class="col-sm-4 feature last">
                        
                        <div class="text">
                            <h6>免费</h6>
                            <p>
                                我们采用云服务模式，无需任何硬件投入，无需任何授权费用，没有收费计划，完全免费。
                            </p>
                        </div>
                    </div>
                </div>

            </div>
            <div style="height:20px"></div>
        </div>
    </div>

    {% include include/footer %}
</body>
</html>