<footer id="footer">
    <div class="container">
        <div class="row info">
            <div class="col-sm-8 residence">
                <ul>
                    <li>专注于实时日志收集、搜索、分析</li>
                </ul>
            </div>
            <div class="col-sm-4 touch">
                <ul>
                    <li>
                        <i class="fa fa-qq"></i> 2641114502<br>
                        <i class="fa fa-envelope"></i> support&lt;at&gt;uclogs.com
                    </li>
                </ul>
            </div>
        </div>
        <div class="row credits">
                <div class="row copyright">
                    <div class="col-md-12">
                        © 2014 UCLogs.com 版权所有
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<script src="/s/site.js"></script>

{% include footer-script %}
