<!DOCTYPE html>
<html lang="en">
<head>
<title>管理 - UCLogs</title>

{% include include/inhead %}

</head>

<body ng-controller="Ctrl">
{% include include/navbar %}

<div class="main-container" id="main-container">

    <div class="main-container-inner">
        <a class="menu-toggler" id="menu-toggler" href="#">
            <span class="menu-text"></span>
        </a>

        <div class="sidebar" id="sidebar" style="height:0">
            
            <ul class="nav nav-list">
              <li class="active">
                <a>
                  <span class="menu-text">管理首页</span>
                </a>
              </li>
            </ul>
        </div>

        <div class="main-content">
            <div class="page-content">
                <div class="row">
                    <div class="col-xs-12" style="margin-top:15px" ng-include="mainContent">
                        <h4>常用链接</h4>

                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.page-content -->
        </div><!-- /.main-content -->

        
    </div><!-- /.main-container-inner -->

    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
        <i class="fa fa-angle-double-up icon-only bigger-110"></i>
    </a>
</div><!-- /.main-container -->

{% include include/footer %}
</body>
</html>
