<!DOCTYPE html>
<html lang="en">
<head>
<title>管理 - UCLogs</title>

{% include include/inhead %}

<script src="/s/js/config.js"></script>

{% if (!isDebug) { %}
<script> require.baseUrl = '/s/js'; </script>
{% } %}

<script data-main="manage/home" src="/s/js/lib/require.js"></script>
</head>

<body ng-controller="Ctrl">
{% include include/navbar %}

<div class="main-container" id="main-container">

    <div class="main-container-inner">
        <a class="menu-toggler" id="menu-toggler" href="#">
            <span class="menu-text"></span>
        </a>

        <div class="sidebar" id="sidebar" style="height:0">
            
            <ul class="nav nav-list">
              <li ng-class="{active: mainContent == 'allUsers'}">
                <a ng-click="changeTab('allUsers')">
                  <span class="menu-text">查看所有用户</span>
                </a>
              </li>
              <li ng-class="{active: mainContent == 'inviteCode'}">
                <a ng-click="changeTab('inviteCode')">
                  <span class="menu-text">邀请码</span>
                </a>
              </li>
            </ul>
        </div>

        <div class="main-content">
            <div class="page-content">
                <div class="row">
                    <div class="col-xs-12" style="margin-top:15px" ng-include="mainContent">

                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.page-content -->
        </div><!-- /.main-content -->

        
    </div><!-- /.main-container-inner -->

    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
        <i class="fa fa-angle-double-up icon-only bigger-110"></i>
    </a>
</div><!-- /.main-container -->

<script type="text/ng-template" id="allUsers">
  <table class="table table-striped table-bordered table-hover" ts-wrapper>
    <thead>
        <tr>
            <th>ID</th>
            <th>用户</th>
            <th>注册时间</th>
            <th>转换用户</th>
        </tr>
    </thead>

    <tbody>
        <tr ng-repeat="user in users" ts-repeat>
            <td>{{user._id}}</td>
            <td>{{user.email}} {{ _.include(user.roles, 'admin') && '(管理员)' || '' }}</td>
            <td>{{objToDate(user) | date:'yyyy-MM-dd HH:mm:ss'}}</td>
            <td><a target="_blank" ng-href="/manage/asUser?uid={{user._id}}">转换</a></td>
        </tr>
    </tbody>
  </table>
</script>

<script type="text/ng-template" id="inviteCode">
  <div class="well well-sm">
    邀请码总数: {{inviteCodes.length}} &nbsp;
    <a ng-click="createInviteCode('register', 1)">+1</a> &nbsp;
    <a ng-click="createInviteCode('register', 10)">+10</a>
  </div>
  <table class="table table-striped table-bordered table-hover" ts-wrapper>
    <thead>
        <tr>
            <th>邀请码</th>
            <th>目标</th>
            <th>用户</th>
            <th>生成时间</th>
        </tr>
    </thead>

    <tbody>
        <tr ng-repeat="code in inviteCodes" ts-repeat>
            <td>{{code.code}}</td>
            <td>{{code.goal}}</td>
            <td>{{code.userId}}</td>
            <td>{{objToDate(code) | date:'yyyy-MM-dd HH:mm:ss'}}</td>
        </tr>
    </tbody>
  </table>
</script>

{% include include/footer %}
</body>
</html>
