.main-content {
    margin-left: 260px;
}
.sidebar {
    width: 260px;
}
.sidebar:before {
    width: 260px;
}

em {color: red}

.input-icon>input:focus+[class*=icon-] {
  color: #909090;
}

.input-icon .fa:hover {
  color: black;
}