<!DOCTYPE html>
<html>
<head>
<title>常见问题 - UCLogs</title>
{% include ../include/inheader %}
<link rel="stylesheet" href="/css/compiled/services.css?1" type="text/css" media="screen" />

<style>
.img-responsive {
    border: 7px solid #fff;
    border-radius: 5px;
    box-shadow: 1px 1px 2px 1px #cfcfcf;
    border-bottom:0;
}
#service_2 h4 {margin: 50px 0 20px}
#service_2 p {margin: 15px 0;}
</style>

</head>
<body>
    
    <div class="navbar navbar-inverse navbar-static-top" role="navigation">
    {% include ../include/navbar %}
    </div>

    <div id="service_2">
        <div class="container">
            <div class="row perk">
                <div class="col-sm-12 description_wrapper">
                    <div class="section_header">
                        <h3>常见问题</h3>
                    </div>
                    <h4 id="q1">你们的服务收费吗，多少钱？</h4>
                    <p>目前服务还未完全开放，暂时不收费，但是需要邀请码才能够注册使用。</p>    
                    <h4 id="q2">如何获取邀请码?</h4>
                    <p>发送邮件到<b>support#uclogs.com</b>，告诉我们你的基本信息和需求：</p> 
                    <ul>
                        <li>你的联系方式。email或者电话， 如果可能会主动联系你了解一下对产品的使用情况和建议。</li>
                        <li>你需要管理的日志的类型：操作系统日志，Apache / Nginx日志， 还是应用程序的日志等</li>
                        <li>公司的名字。我们当然欢迎个人用户，但是如果是是公司的话，最好能告诉我们公司的名字。</li>
                        <li>每天的日志数量，大小（比如100M）或者条数（比如10万条）</li>
                    </ul>                   
                    <h4>如何上传日志?</h4>
                    <p>我们有一个自主开发的，高性能的收集器安装在你的服务器上，你只需要在我们的UI上配置一下需要手机的文件的目录，收集器会自动实时的收集您的日志。</p>
                    <h4>这个收集器运行在我的服务器上，会影响我的服务器的性能么？</h4>
                    <p>我们的收集器是经过精心优化的，收集器大概需要占用60M左右的内存，CPU资源占用的非常非常小，可以忽略不计。</p>
                    <h4>是否支持syslog协议？</h4>
                    <p>目前还不支持，过一段时间会支持。</p>
                    <h4>我的日志安全么，会不会丢失？</h4>
                    <p>我们的数据在存放的时候，做了冗余的多份备份，所以数据安全性是是99.9%以上，目前缺省是保存最近15天的数据，15天之前的数据将会被删除。</p>
                    <h4>隐私安全如何保证？</h4>
                    <p>我们的数据在传输的时候，都是通过ssl来传输的，在在存储的时候都是加密存储的。</p>
                    <h4>日志自动解析，都支持哪些格式的日志？</h4>
                    <p>
                    目前我们支持的格式是缺省的 apache 和 nginx 的 combine 格式。<br/><br>
                    Apache: <br/><br>
                    <pre>%h %l %u %t \"%r\" %>s %b \"%{Referer}i\" \"%{User-agent}i\”</pre>
                    
                    <br>Nginx: <br/><br>
                    <pre>$remote_addr - $remote_user [$time_local] "$request” $status $body_bytes_sent "$http_referer” "$http_user_agent"</pre>
                    <pre>$remote_addr - $remote_user [$time_local] "$request” $status $body_bytes_sent "$http_referer” "$http_user_agent" "$http_x_forwarded_for” </pre>
                    </p>
                </div>
            </div>
        </div>
    </div>
    
    {% include ../include/footer %}
</body>
</html>