<!DOCTYPE html>
<html>
<head>
    <title>Log metrics - Help - UCLogs</title>
    {% include ../include/inheader %}
    <link rel="stylesheet" type="text/css" href="/css/lib/animate.css" media="screen, projection" />
    <link rel="stylesheet" href="/css/compiled/help.css" type="text/css" media="screen" />
</head>
<body>
    
    <div class="navbar navbar-inverse navbar-static-top" role="navigation">
    {% include ../include/navbar %}
    </div>

    <div id="help_post">
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <div class="post_content">
                        <h2>Metric of Log files</h2>
                        <p>
                            The Host Agent can monitor your log files, identify newly written logs, extract your required information and send them to our central cluster. Results will be computed and visualized for you.
                        </p>


                        <h3 id="metricsTypes">Metric types</h3>
                        <h4>Counting</h4>
                        <p>Counting is to count things. The counter default increase 1 for each matched line. You can also specify increment by “value” Named Capturing Groups. </p>
                        <p>Example 1: You log error information with [ERROR]. If you want to count errors,  a regular express could be: 
                          <pre>[ERROR\]</pre>
                        </p>
                        <p>Example 2: You log the Add To Cart event with like “2 items was add to cart”. If you want to counting how much items were added to cart, the regular express could be: 
                          <pre>(?&lt;value&gt;\d+) items were added to cart</pre>
                        </p>
                        
                        <h4>Gauges</h4>
                        <p>Gauges measure a value of a particular thing over time. The “value” Named Capturing Groups is mandatory. For example, if developers wanted to track the space amount of a memory cache, they can periodically log a value, such as “200M memory used by cache”. The expression should be:
                          <pre>(?&lt;value&gt;\d+)M memory used by cache</pre>
                        </p>

                        <h4>Timing</h4>
                        <p>Timing measures the average and counts a set of values. The performance measure is a common case for this type. Suppose we wanted to measure the duration of a database query. You can log the information with “query database spend 888ms”. The expression is:
                          <pre>query database spend (?&lt;value&gt;\d+)ms</pre>
                        </p>


                        <h3 id="pattern">Regular Express Pattern</h3>
                        <p>
                            How do you tell the Host Agent about which logging you are interested in, and how to extract useful information from it? The answer is a regular expression. The Host Agent uses the inputted regular expressions to match each line of logs. Only a matched line will be captured and processed. For example, you have the web application that logs error information with [ERROR]. If you want to metric and monitor errors, you can input the regular expression: <code>\[ERROR\]</code>. </p>

                        <p>You also can use Named Capturing Groups feature of regular express to extract information from log line. Lets say your application log the Add To Cart event with like “2 items was add to cart”.  You can use this express to not only capture event but also extract items number: <code>(?&lt;value&gt;\d+) items was add to cart</code></p>


                        <h3 id="timestamp">Timestamp</h3>
                        <p>
                          Events in logs should have a timestamp. The default timestamp is the written time line. You can also specify a timestamp by “timing” Named Capturing Groups if the timestamp information was recorded in log lines. For example, your log line is: [2014-01-01 10:30:12]. You can specify a timestamp by:
                            <pre>(?&lt;time&gt;\d{4}-\d{2}-\d{2} d{2}:d{2}:d{2})</pre>
                        </p>

                        <h4>Timestamp Format Parse</h4>
                        <p>We can automatically parse timestamp if the format is ISO standard. Otherwise, you need specify a timestamp’s format. The table below is the formats for timestamps. For example, if your timestamp is like “JAN/01/2014 22:30:12”, the time format should be <code>MMM/DD/YYYY HH:mm:ss</code>
                        <p/>

                        <table class="table table-striped table-bordered table-hover no-margin-bottom no-border-top">
                          <thead>
                              <tr>
                                  <th></th>
                                  <th>Token</th>
                                  <th>Output</th>
                              </tr>
                          </thead>

                          <tbody>
                              <tr>
                                  <td>
                                      <b>Year</b>
                                  </td>
                                  <td>YYYY</td>
                                  <td>1970 1971 ... 2029 2030</td>
                              </tr>

                              <tr>
                                  <td></td>
                                  <td>YY</td>
                                  <td>70 71 ... 29 30</td>
                              </tr>

                              <tr>
                                  <td>
                                      <b>Month</b>
                                  </td>
                                  <td>M</td>
                                  <td>1 2 ... 11 12</td>
                              </tr>
                              <tr>
                                  <td></td>
                                  <td>Mo</td>
                                  <td>1st 2nd ... 11th 12th</td>
                              </tr>
                              <tr>
                                  <td></td>
                                  <td>MM</td>
                                  <td>01 02 ... 11 12</td>
                              </tr>
                              <tr>
                                  <td></td>
                                  <td>MMM</td>
                                  <td>Jan Feb ... Nov Dec</td>
                              </tr>
                              <tr>
                                  <td></td>
                                  <td>MMMM</td>
                                  <td>January February ... November December</td>
                              </tr>

                              <tr>
                                  <td><b>Day of Month</b></td>
                                  <td>D</td>
                                  <td>1 2 ... 30 31</td>
                              </tr>
                              <tr>
                                  <td></td>
                                  <td>Do</td>
                                  <td>1st 2nd ... 30th 31st</td>
                              </tr>
                              <tr>
                                  <td></td>
                                  <td>DD</td>
                                  <td>01 02 ... 30 31</td>
                              </tr>

                              <tr>
                                  <td><b>AM/PM</b></td>
                                  <td>A</td>
                                  <td>AM PM</td>
                              </tr>
                              <tr>
                                  <td></td>
                                  <td>a</td>
                                  <td>am pm</td>
                              </tr>

                              <tr>
                                  <td><b>Hour</b></td>
                                  <td>H</td>
                                  <td>0 1 ... 22 23</td>
                              </tr>
                              <tr>
                                  <td></td>
                                  <td>HH</td>
                                  <td>00 01 ... 22 23</td>
                              </tr>
                              <tr>
                                  <td></td>
                                  <td>h</td>
                                  <td>1 2 ... 11 12</td>
                              </tr>
                              <tr>
                                  <td></td>
                                  <td>hh</td>
                                  <td>01 02 ... 11 12</td>
                              </tr>

                              <tr>
                                  <td><b>Minute</b></td>
                                  <td>m</td>
                                  <td>0 1 ... 58 59</td>
                              </tr>
                              <tr>
                                  <td></td>
                                  <td>mm</td>
                                  <td>00 01 ... 58 59</td>
                              </tr>

                              <tr>
                                  <td><b>Sencond</b></td>
                                  <td>s</td>
                                  <td>0 1 ... 58 59</td>
                              </tr>
                              <tr>
                                  <td></td>
                                  <td>ss</td>
                                  <td>00 01 ... 58 59</td>
                              </tr>
                          </tbody>
                      </table>
                    </div>
                </div>
                
                <!-- SideBar -->
                <div class="col-sm-4">
                    <div class="sidebar">
                        <div class="box last">
                            <div class="sidebar_header">
                                <h4>Menu</h4>
                            </div>

                            <ul class="sidebar_menu">
                                <ul>
                                    <li><a href="#metricsTypes">Metric types</a></li>
                                    <li><a href="#pattern">Regular Express Pattern</a></li>
                                    <li><a href="#timestamp">Timestamp</a></li>
                                </ul>
                            </ul>
                        </div>
                        

                    </div>
                </div>
            </div>
        </div>
    
    {% include ../include/footer %}
</body>
</html>