<!DOCTYPE html>
<html>
<head>
<title>产品 - UCLogs</title>
{% include ../include/inheader %}
<link rel="stylesheet" href="/css/compiled/features.css" type="text/css" media="screen" />

<style>
.img-responsive {
    border: 7px solid #fff;
    border-radius: 5px;
    box-shadow: 1px 1px 2px 1px #cfcfcf;
    border-bottom:0;
}
</style>

</head>
<body>
    
    <div class="navbar navbar-inverse navbar-static-top" role="navigation">
    {% include ../include/navbar %}
    </div>

    <div id="features" class="features_page">
        <div class="container">
            <!-- Feature Wrapper -->
            <div class="feature_wrapper option1">
                <div class="section_header">
                    <h3>产品特性</h3>
                </div>
                <div class="row feature">
                    <div class="col-sm-5 info">
                        <h3 id="metrics">
                            自动收集
                        </h3>
                        <p>我们的日志收集器会实时、自动地收集您的日志到我们的云端集群，只需要两个步骤就能够完成所有配置</p>
                        
                    </div>
                    <div class="col-sm-7">
                        <img src="/s/img/help/feature-1.png" class="img-responsive" /> 
                    </div>
                </div>
                <div class="row feature">
                    <div class="col-sm-7">
                        <img src="/s/img/help/feature-2.png" class="img-responsive" /> 
                    </div>
                    <div class="col-sm-5 info">
                        <h3 id="metrics">
                            集中管理, 自动解析
                        </h3>
                        <p>不需要在登录到多台服务器上查看日志，所有日志都能通过uclogs的控制台访问. 并且我们能自动的识别和解析日志内容，将日志的内容结构化处理，方便进一步的深度分析。</p>
                        
                    </div>
                </div>
                <div class="row feature">
                    <div class="col-sm-5 info">
                        <h3 id="metrics">
                            快速检索
                        </h3>
                        <p>我们对所有的日志都做了全文检索，您只需要输入相应的关键字，指定时间段，几十毫秒就能查找到相关日志。</p>
                        
                    </div>
                    <div class="col-sm-7">
                        <img src="/s/img/help/feature-3.png" class="img-responsive" /> 
                    </div>
                </div>
                <div class="row feature last">
                    <div class="col-sm-7">
                        <img src="/s/img/help/feature-4.png" class="img-responsive" /> 
                    </div>
                    <div class="col-sm-5 info">
                        <h3 id="metrics">
                            统计和分析
                        </h3>
                        <p>uclogs对日志做自动的结构化解析之后，您能按照任何字段进行组合过滤, 还能够正对各个字段，做各种的统计和分析</p>
                        
                    </div>
                </div>
            </div>


        </div>
    </div>
    
    {% include ../include/footer %}
</body>
</html>