<!DOCTYPE html>
<html>
<head>
<title>产品 - UCLogs</title>
{% include ../include/inheader %}
<link rel="stylesheet" type="text/css" href="/css/lib/animate.css" media="screen, projection" />
<link rel="stylesheet" href="/css/compiled/help.css" type="text/css" media="screen" />
<link rel="stylesheet" href="/css/compiled/features.css" type="text/css" media="screen" />

<style>
.img-responsive {
    border: 7px solid #fff;
    border-radius: 5px;
    box-shadow: 1px 1px 2px 1px #cfcfcf;
    border-bottom:0;
}
</style>

</head>
<body>
    
    <div class="navbar navbar-inverse navbar-static-top" role="navigation">
    {% include ../include/navbar %}
    </div>

    <div id="features" class="features_page">
        <div class="container">
            <!-- Feature Wrapper -->
            <div class="feature_wrapper option1">
                <div class="section_header">
                    <h3>概述</h3>
                </div>

                <p>UCLogs 是云服务平台，可以帮您收集应用程序的数据，图形化展示数据，并监控你的应用程序。 这一切对你将非常容易，你需要做的仅仅是告诉我们你的数据在哪里。我们的引擎会自动收集你的数据到我们的服务器，并生成各种统计图像报表。当数据停止更新，或者超过设定的阈值时，我们的报警系统会自动提醒你，不会让你因为应用程序问题而遭到损失。</p>
                

                <div class="row feature">
                    <div class="col-sm-8 info">
                        <h3 id="metrics">
                            收集数据
                        </h3>
                        <p>目前我们支持三种方式来收集应用程序的数据：日志文件、数据库查询、shell命令。</p>
                        <ul>
                          <li>日志文件：监控日志文件，通过设置正则表达式，从日志中过滤并且得到你的数据。</li>
                          <li>数据库查询：通过执行特定的 Sql 语句或者 Mongo 脚本来获取数据。</li>
                          <li>Shell 命令：在的服务器上定期运行shell命令。例如，您可以输入 <code>ls -1 /you/path/ | wc -l</code> 来获取和监控一个文件夹下得文件数目。</li>
                        </ul>
                    </div>
                    <div class="col-sm-4 info">
                        <h3 id="alert">
                            报警
                        </h3>
                        <p>
                            当数据停止更新，或者超过设定的阈值时，UCLogs 会通过 Email 或者 PagerDuty 自动提醒你，不会让你因为应用程序问题而遭到损失。
                        </p>
                    </div>
                </div>
            </div>

            <!-- Feature Wrapper -->
            <div class="feature_wrapper option1">
                <div class="section_header">
                    <h3>使用非常简单，只需3步</h3>
                </div>

                <div class="row feature">
                    <div class="col-sm-6 pic-right">
                        <img src="/s/img/help/agent.png" class="img-responsive" />
                    </div>
                    <div class="col-sm-6 info info-left">
                        <h3>
                            <span class="label label-primary" style="font-size:20px">1</span>
                            在服务器上安装 Agent
                        </h3>
                        <p>
                            你的服务器上安装 Agent，来收集应用程序数据。按照提示输入命令即可，安装过程非常简单。
                        </p>
                    </div>
                </div>
                <div class="row feature">
                    <div class="col-sm-6">
                        <img src="/s/img/help/config.png" class="img-responsive" />
                    </div>
                    <div class="col-sm-6 info">
                        <h3>
                            <span class="label label-primary" style="font-size:20px">2</span>
                            配置你的数据来源
                        </h3>
                        <p>
                            输入你的数据相关信息，其余事情全部交给我们即可。
                        </p>
                    </div>
                </div>
                <div class="row feature">
                    <div class="col-sm-7 pic-right">
                        <img src="/s/img/help/metric.png" class="pull-right img-responsive" />
                    </div>
                    <div class="col-sm-5 info info-left">
                        <h3>
                            <span class="label label-primary" style="font-size:20px">3.a</span>
                            搞定，查看你的数据报表
                        </h3>
                        <p>
                            几分钟后，你就可以根据时间段、不同指标来查看数据报表。
                        </p>
                    </div>                    
                </div>
                <div class="row feature last">
                    <div class="col-sm-7 pic-right">
                        <img src="/s/img/help/alert.png" class="img-responsive" />
                    </div>
                    <div class="col-sm-5 info info-left">
                        <h3>
                            <span class="label label-primary" style="font-size:20px">3.b</span>
                            设置报警
                        </h3>
                        <p>
                            当数据停止更新，或者超过设定的阈值时，会自动提醒你，不会让你因为应用程序问题而遭到损失。
                        </p>
                    </div>
                </div>
            </div>
                

            <!-- Feature Wrapper -->
            <div class="feature_wrapper option1">
                <div class="section_header">
                    <h3 id="free">完全免费</h3>
                </div>

                <p>
                    是的，我们完全免费！无需硬件投入，无需授权费用，没有收费计划。我们商业模式是免费，以后将会针对更强大的功能推出收费计划。但目前所有功能都是免费的，并且没有任何使用限制。
                </p>
            </div>

            <div style="margin:0 0 20px" class="text-center">
                <a class="btn btn-primary btn-lg" href="/account/register" style="font-family: verdana; font-weight: bold;">免费试用</a>
            </div>
        </div>
    </div>
    
    {% include ../include/footer %}
</body>
</html>