<!doctype html>
<html ng-app="demo">
<head>
<script src="/s/angular/angular-1.2.16.min.js"></script>
<script>
angular.module('demo', [])
.controller('Ctrl1', function($scope) {
    $scope.user = {};
    $scope.submit = function() {
        console.log($scope.user);
    }
})
</script>
</head>
<body ng-controller="Ctrl1">

name: <input ng-model="user.name.first" type="text"/><br/>
tel: <input ng-model="user.tel" type="text"/><br/>
email: <input ng-model="user.email" type="text"/><br/>
isOk: <input ng-model="user.isOk" type="checkbox"/><br/>


<button ng-click="submit()">提交</button>
<br/>

<pre>
{{user | json}}
</pre>

</body>
</html>
