<!DOCTYPE html>
<html lang="en" ng-app="consoleApp">
<head>
<title>配置日志 - UCLogs</title>

{% include include/inhead %}

<script src="/s/angular/angular.min.js"></script>
<script src="/s/angular-tablesort.js"></script>

<link rel="stylesheet" href="/s/tablesort.css" />

<script>
var setObject = function(list, object) {
  list = list || [];
  if (!_.some(list, function(old, i) {
      if (old._id === object._id) {
          list.splice(i, 1, object);
          return true;
      }
  })) {
      // new
      list.push(object);
  }
};
var removeObject = function(list, object) {
  list = list || [];
  _.some(list, function(old, i) {
    if (old._id === object._id) {
      list.splice(i, 1);
      return true;
    }
  })
}

angular.module('consoleApp', ['tableSort'])
.controller('Ctrl', ['$scope', '$http', '$location', function($scope, $http, $location) {
  $http.get('/console/ajax/getHosts').success(function(hosts) {
      _.extend($scope, {
        page: {},
        hosts: hosts,
        newFiles: [],
        platforms: [{
            key: 'redhat',
            name: 'Red Hat or CentOS'
        }, {
            key: 'debian',
            name: 'Ubuntu or Debian'
        }, {
            key: 'linux',
            name: 'Others linux'
        }]
      });
      venderPage();
      $scope.$on('$locationChangeSuccess', venderPage);
  });

  var venderPage = function() {
      var locationSearch = $location.search();
      $scope.mainContent = locationSearch.tab || 'seeConfigs';
  };

  $scope.changeTab = function(tab) {
      if ($location.search().tab === tab) {
          return;
      }
      $location.search('tab', tab);
  };

  $scope.deleteFile = function(host, file) {
      if (!confirm('停止收集日志文件:\n\n' + host.hostname + ':' + file)) {
        return;
      }
      ma.wait();
      $http.post('/console/ajax/deleteFile', {
        hostId: host._id,
        file: file
      }).success(function(host) {
        ma.done();
        setObject($scope.hosts, host);
      });
  };

  $scope.refreshHosts = function() {
    ma.wait();
    $http.get('/console/ajax/getHosts').success(function(hosts) {
        var oldHostMap = _.indexBy($scope.hosts, '_id');
        _.each(hosts, function(host) {
          host.selectedWhenAddFile = oldHostMap[host._id] && oldHostMap[host._id].selectedWhenAddFile;
        });        
        $scope.hosts = hosts;
        ma.done();
    });
  };

  $scope.submitAddFiles = function() {
    var hostIds = _.chain($scope.hosts).filter(function(host) {
      return host.selectedWhenAddFile;
    }).map(function(host) {
      return host._id;
    }).value();

    if (!hostIds.length) {
      return;
    }

    ma.wait();
    $http.post('/console/ajax/addFiles', {
      hostIds: hostIds,
      newFiles: _.map($scope.newFiles, function(file) {
        return file.path;
      })
    }).success(function(hosts) {
      ma.done();
      $scope.changeTab('seeConfigs');
      _.each(hosts, function(host) {
        setObject($scope.hosts, host);
      });

      $scope.newFiles = [];
      _.extend($scope.hosts, {
        selectedWhenAddFile: false
      });
    });
  };
}]);
</script>
</head>
<body ng-controller="Ctrl">
{% include include/navbar %}

<div class="main-container" id="main-container">

    <div class="main-container-inner">
        <a class="menu-toggler" id="menu-toggler" href="#">
            <span class="menu-text"></span>
        </a>

        <div class="sidebar" id="sidebar" style="height:0">
            
            <ul class="nav nav-list">
              <li ng-class="{active: mainContent == 'seeConfigs'}">
                <a ng-click="changeTab('seeConfigs')">
                  <i class="icon-none fa fa-eye"></i>
                  <span class="menu-text">查看所有配置</span>
                </a>
              </li>
              <li ng-class="{active: mainContent == 'addHost'}">
                <a ng-click="changeTab('addHost')">
                  <i class="icon-none fa fa-plus"></i>
                  <span class="menu-text">添加主机</span>
                </a>
              </li>
              <li ng-class="{active: mainContent == 'addFile'}">
                <a ng-click="changeTab('addFile')">
                  <i class="icon-none fa fa-file-text"></i>
                  <span class="menu-text">添加日志文件</span>
                </a>
              </li>
            </ul>
        </div>

        <div class="main-content">
            <div class="page-content">
                <div class="row">
                    <div class="col-xs-12" style="margin-top:15px" ng-include="mainContent">

                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.page-content -->
        </div><!-- /.main-content -->

        
    </div><!-- /.main-container-inner -->

    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
        <i class="fa fa-angle-double-up icon-only bigger-110"></i>
    </a>
</div><!-- /.main-container -->

{% include include/footer %}

<script type="text/ng-template" id="seeConfigs">
  <table class="table table-striped table-bordered table-hover" ts-wrapper>
    <thead>
        <tr>
            <th style="position: relative; height: 42px;">
              主机名称 &nbsp;
              <a ng-click="page.isFileHiden=1" ng-if="!page.isFileHiden">隐藏文件</a>
              <a ng-click="page.isFileHiden=0" ng-if="page.isFileHiden">显示文件</a>
              <div class="nav-search">
                <span class="input-icon">
                    <input type="text" placeholder="过滤主机" class="nav-search-input" ng-model="page.searchHost" />
                    <i class="icon-none nav-search-icon fa fa-search"></i>
                </span>
              </div>
            </th>
            <th style="position: relative; height: 42px;" ng-if="!page.isFileHiden">
              日志文件
              <div class="nav-search">
                <span class="input-icon">
                    <input type="text" placeholder="过滤文件" class="nav-search-input" ng-model="page.searchFile" />
                    <i class="icon-none nav-search-icon fa fa-search"></i>
                </span>
              </div>
            </th>
        </tr>
    </thead>

    <tbody>
        <tr ng-repeat="host in hosts | filter:{hostname:page.searchHost} | filter:{files:page.searchFile||undefined}"
            ts-repeat>
            <td>
              {{host.hostname}}
              <span class="text-danger" ng-if="!host.isActive">(未激活)</span>
            </td>
            <td ng-if="!page.isFileHiden">
              <ul style="margin-bottom:0">
                <li ng-repeat="file in host.files | filter:page.searchFile | orderBy:'toString()'">
                  {{file}}
                  <a ng-click="deleteFile(host, file)">
                    <i class="fa fa-times" style="font-size:14px"></i>
                  </a>
                </li>
              </ul>
            </td>
        </tr>
    </tbody>
  </table>
</script>
<script type="text/ng-template" id="addHost">
  {% include config-addHost %}
</script>
<script type="text/ng-template" id="addFile">
  {% include config-addFile %}
</script>
</body>
</html>
