<div class="form-group">
    <select ng-model="page.platform"
            ng-options="platform.key as platform.name for platform in platforms">
        <option value="">请选择主机平台</option>
    </select>
</div>
<hr>

<div ng-if="page.platform=='redhat'">
    <h4>
        <span class="label label-primary arrowed-right" style="float:left;">1.</span> 
        <span style="margin-left:10px">添加 uclogs yum 源</span>
    </h4>
    <div class="well well-sm">curl -L http://download.uclogs.com/shell/install_yum_repo.sh | sh</div>

    <h4>
        <span class="label label-primary arrowed-right" style="float:left;">2.</span> 
        <span style="margin-left:10px">安装 uclogs 引擎</span>
    </h4>
    <div class="well well-sm">sudo yum install uc-agent</div>
</div>


<div ng-if="page.platform=='debian'">
    <h4>
        <span class="label label-primary arrowed-right" style="float:left;">1.</span> 
        <span style="margin-left:10px">配置 uclogs apt 源</span>
    </h4>
    <div class="well well-sm">
        sudo sh -c "echo deb http://apt.uclogs.com/ stable main >> /etc/apt/sources.list.d/uclogs.list"<br>
        wget -O- http://apt.uclogs.com/apt-repo.gpg | sudo apt-key add -<br>
        sudo apt-get update
    </div>

    <h4>
        <span class="label label-primary arrowed-right" style="float:left;">2.</span> 
        <span style="margin-left:10px">安装 uclogs 引擎</span>
    </h4>
    <div class="well well-sm">sudo apt-get install uc-agent</div>
</div>

<div ng-if="page.platform=='redhat' || page.platform=='debian'">
    <h4>
        <span class="label label-primary arrowed-right" style="float:left;">3.</span> 
        <span style="margin-left:10px">设置 license key，并启动 uclogs 引擎</span>
    </h4>
    <div class="well well-sm">
        sudo /opt/uc-agent/bin/license-key -s {%- visitor.licenseKey %}<br>
        sudo /etc/init.d/uc-agent start
    </div>

    <h4>
        <span class="label label-primary arrowed-right" style="float:left;">4.</span> 
        <span style="margin-left:10px">完成配置，刷新主机列表</span>
    </h4>
    <p>
        几秒钟后点击下面刷新主机按钮，即可在全部主机中看到新添加的主机。<br>如果1分钟后仍然看不到新添加的机器，请联系我们 support@uclogs.com</p>
    <a ng-click="refreshHosts()" class="btn btn-sm btn-success">刷新主机</a>
</div>

<div ng-if="page.platform=='linux'">
    <h4>
        <span class="label label-primary arrowed-right" style="float:left;">1.</span> 
        <span style="margin-left:10px">下载 uclogs 引擎，并解压</span>
    </h4>
    <p>64位操作系统：</p>
    <div class="well well-sm">
        wget {{agentUrl.base}}{{agentUrl.folder}}-{{agentUrl.bit64}}<br>
        tar -xzvf {{agentUrl.folder}}-{{agentUrl.bit64}}
    </div>

    <p>32位操作系统：</p>
    <div class="well well-sm">
        wget {{agentUrl.base}}{{agentUrl.folder}}-{{agentUrl.bit32}}<br>
        tar -xzvf {{agentUrl.folder}}-{{agentUrl.bit32}}
    </div>

    <h4>
        <span class="label label-primary arrowed-right" style="float:left;">2.</span> 
        <span style="margin-left:10px">复制解压后的文件到指定目录 (比如 /opt/uc-agent)</span>
    </h4>
    <div class="well well-sm">
        sudo mkdir -p /opt/uc-agent<br>
        sudo cp -r {{agentUrl.folder}}/* /opt/uc-agent/
    </div>

    <h4>
        <span class="label label-primary arrowed-right" style="float:left;">3.</span> 
        <span style="margin-left:10px">安装配置，设置 license key</span>
    </h4>
    <div class="well well-sm">
        sudo mkdir -p /etc/uc-agent<br>
        sudo cp -r /opt/uc-agent/res/etc/uc-agent/* /etc/uc-agent/<br>
        sudo /opt/uc-agent/bin/license-key -s {%- visitor.licenseKey %}
    </div>

    <h4>
        <span class="label label-primary arrowed-right" style="float:left;">4.</span> 
        <span style="margin-left:10px">启动 uclogs 引擎</span>
    </h4>
    <div class="well well-sm">
        sudo /opt/uc-agent/bin/uc-agent start -s
    </div>

    <h4>
        <span class="label label-primary arrowed-right" style="float:left;">5.</span> 
        <span style="margin-left:10px">完成配置，刷新主机列表</span>
    </h4>
    <p>
        几秒钟后点击下面刷新主机按钮，即可在全部主机中看到新添加的主机。<br>如果1分钟后仍然看不到新添加的机器，请联系我们 support@uclogs.com</p>
    <a ng-click="refreshHosts()" class="btn btn-sm btn-success">刷新主机</a>
</div>
