<!DOCTYPE html>
<html lang="en">
<head>
<title>配置日志 - UCLogs</title>

{% include include/inhead %}

{% include include/requirejs %}
<script async data-main="console/logconfig" src="/s/js/lib/require.js"></script>
</head>

<body ng-controller="Ctrl">
{% include include/navbar %}

<div class="main-container" id="main-container">

    <div class="main-container-inner">
        <a class="menu-toggler" id="menu-toggler" href="#">
            <span class="menu-text"></span>
        </a>

        <div class="sidebar" id="sidebar" style="height:0">
            
            <ul class="nav nav-list">
              <li ng-class="{active: mainContent == 'seeConfigs'}">
                <a ng-click="changeTab('seeConfigs')">
                  <i class="icon-none fa fa-eye"></i>
                  <span class="menu-text">查看所有配置</span>
                </a>
              </li>
              <li ng-class="{active: mainContent == 'addFile'}">
                <a ng-click="changeTab('addFile')">
                  <i class="icon-none fa fa-plus"></i>
                  <span class="menu-text">添加日志文件</span>
                </a>
              </li>
            </ul>
        </div>

        <div class="main-content">
            <div class="page-content">
                <div class="row">
                    <div class="col-xs-12" style="margin-top:15px" ng-include="mainContent">
                      {% include include/spinner/rectangle-bounce %}
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.page-content -->
        </div><!-- /.main-content -->

        
    </div><!-- /.main-container-inner -->

    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
        <i class="fa fa-angle-double-up icon-only bigger-110"></i>
    </a>
</div><!-- /.main-container -->

<script type="text/ng-template" id="seeConfigs">
  <table class="table table-striped table-bordered table-hover" ts-wrapper>
    <thead>
        <tr>
            <th style="position: relative; height: 42px; min-width:280px">
              主机名称 &nbsp;
              <a ng-click="page.isFileHiden=1" ng-if="!page.isFileHiden">隐藏文件</a>
              <a ng-click="page.isFileHiden=0" ng-if="page.isFileHiden">显示文件</a>
              <div class="nav-search">
                <span class="input-icon">
                    <input type="text" placeholder="过滤主机" class="nav-search-input" ng-model="page.searchHost" />
                    <i class="icon-none nav-search-icon fa fa-search"></i>
                </span>
              </div>
            </th>
            <th style="position: relative; height: 42px; min-width:200px" ng-if="!page.isFileHiden">
              日志文件
              <div class="nav-search">
                <span class="input-icon">
                    <input type="text" placeholder="过滤文件" class="nav-search-input" ng-model="page.searchFile" />
                    <i class="icon-none nav-search-icon fa fa-search"></i>
                </span>
              </div>
            </th>
        </tr>
    </thead>

    <tbody>
        <tr ng-repeat="host in hosts | filter:{hostname:page.searchHost} | filter:{files:page.searchFile||undefined}"
            ts-repeat>
            <td>
              {{host.hostname}}
              <span class="text-danger" ng-if="!host.isActive">(未激活)</span>
            </td>
            <td ng-if="!page.isFileHiden">
              <ul style="margin-bottom:0">
                <li ng-repeat="file in host.files | filter:page.searchFile | orderBy:'toString()'">
                  {{file}}
                  <a ng-click="deleteFile(host, file)">
                    <i class="fa fa-times" style="font-size:14px"></i>
                  </a>
                </li>
              </ul>
              <a ng-click="addHostFile(host)" style="margin-left:7px">
                <i class="fa fa-plus"></i>
                添加日志文件
              </a>
            </td>
        </tr>
    </tbody>
  </table>
</script>


<div class="modal" id="modalAddHost" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog" style="width:70%">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">添加主机</h4>
      </div>
      <div class="modal-body">
        {% include config-addHost %}
      </div>
    </div>
  </div>
</div>

<script type="text/ng-template" id="addFile">
  {% include config-addFile %}
</script>

{% include include/footer %}
</body>
</html>
