<!DOCTYPE html>
<html lang="en" ng-app="consoleApp">
<head>
<title>Service - UCLogs</title>

{% include include/inhead %}

<script src="/s/angular/angular.min.js"></script>

{% include include/service.js.ejs %}

<script>
angular.module('consoleApp', [])
.controller('Ctrl', ['$scope', '$http', '$location', function($scope, $http, $location) {
    $http.defaults.headers.common['X-Requested-With'] = 'XMLHttpRequest';
    $scope.serviceCates = serviceCates;
    var venderPage = function() {
        var locationSearch = $location.search();
        $scope.currentCate = serviceCateMap[locationSearch.cate] || $scope.serviceCates[0];
        $scope.currentServiceConfig = null;
        if (locationSearch.id) {
            var serviceConfig = _.indexBy($scope.serviceConfigs, '_id')[locationSearch.id];
            if (!serviceConfig) {
                return;
            }
            $scope.currentServiceConfig = _.extend({
                errors: {}
            }, serviceConfig);
        } else if (locationSearch.operation == 'add') {
            $scope.currentServiceConfig = {
                type: $scope.currentCate.type,
                serviceInfo: {},
                errors: {}
            };
        }
    }
    $http.get('/console/ajax/getServices').success(function(services) {
        _.each(services, function(service) {
            setService($scope, service);
        });
        venderPage();
        $scope.$on('$locationChangeSuccess', venderPage);
    }).error(function(json) {

    });
    $scope.validate = function(member) {
        var result = true;
        if (member == 'title' || !member) {
            if (!$scope.currentServiceConfig.title) {
                result = false;
                $scope.currentServiceConfig.errors.title = "Please provide a valid title";
            } else {
                $scope.currentServiceConfig.errors.title = null;
            }
        }
        _.each($scope.currentCate.props, function(prop) {
            if (member == prop.key || !member) {
                var propIsOk = true;
                var value = $scope.currentServiceConfig.serviceInfo[prop.key];
                if (prop.require && !value) {
                    propIsOk = false;
                } else if (value && prop.pattern) {
                    if (!(value+"").match(prop.pattern)) {
                        propIsOk = false;
                    }
                }

                if (propIsOk) {
                    $scope.currentServiceConfig.errors[prop.key] = null;
                } else {
                    result = false;
                    $scope.currentServiceConfig.errors[prop.key] = "Please provide a valid " + prop.name;
                }
            }
        });
        return result;
    }
    $scope.submitService = function() {
        if (!$scope.validate()) {
            return;
        }
        ma.wait();
        $http.post('/console/ajax/upsertService', {
            serviceConfig : $scope.currentServiceConfig
        }).success(function(serviceConfig) {
            setService($scope, serviceConfig);
            $scope.editService(serviceConfig._id);
            ma.done();
            //alert('successfully submitted')
        }).error(function(json) {
            if (json.error) {
                alert(json.error);
            }
            ma.done();
        });
    };
    $scope.changeCurrentCate = function(cate) {
        _.each($location.search(), function(value, key) {
            $location.search(key, null);
        });
        $location.search('cate', cate.type);
    };
    $scope.addService = function() {
        $location.search('id', null).search('operation', 'add');
    }
    $scope.editService = function(serviceId) {
        $location.search('id', serviceId).search('operation', null);
    };
    $scope.deleteService = function(service) {
        if (!confirm('Confirmed to delete this service?')) {
            return;
        }
        ma.wait();
        $http.post('/console/ajax/deleteService', {
            id : service._id
        }).success(function() {
            $scope.serviceConfigs = _.reject($scope.serviceConfigs, function(old) {
                return old._id === service._id;
            });
            $location.search('id', null);
            ma.done();
        }).error(function(json) {
            if (json.error) {
                alert(json.error);
            }
            ma.done();
        });
    };
}]);
</script>

<style>
.service {
    border:1px solid #ddd;
    border-radius:4px;
    padding: 10px;
    margin: 20px 20px 0 0;
    cursor: pointer;
}
.service.current {
    border:1px solid #438eb9;
}
.list-group-item span {
    cursor: pointer;
}
</style>
</head>
    <body ng-controller="Ctrl">
        {% include include/navbar %}

        <div class="main-container" id="main-container">
            <script type="text/javascript">
                try{ace.settings.check('main-container' , 'fixed')}catch(e){}
            </script>

            <div class="main-container-inner">
                <a class="menu-toggler" id="menu-toggler">
                    <span class="menu-text"></span>
                </a>

                {% include include/siderbar %}

                <div class="main-content">
                    <div class="page-content">
                        <div class="row">
                            <div class="col-xs-12">
                                <!-- PAGE CONTENT BEGINS -->
                                <div class="col-xs-4">
                                    <h3>Available Services</h3>
                                    <div class="service" ng-class="{current: currentCate.type==cate.type}" ng-repeat="cate in serviceCates" ng-click="changeCurrentCate(cate)">
                                        <h4>{{cate.name}}</h4>
                                        {{cate.description}}
                                    </div>
                                </div>
                                <div class="col-xs-4" style="border-right:1px solid gray; border-left:1px solid gray; min-height:400px">
                                    <h3>
                                        <i style="cursor:pointer" ng-click="addService()" class="icon-plus-sign pull-right"></i>
                                        Configured Services
                                    </h3>
                                    Add or edit an alert service configuration.
                                    <ul class="list-group" style="margin:20px 0 0">
                                        <li class="list-group-item" ng-repeat="service in serviceConfigs | filter:currentCate.searchService:true"
                                                ng-class="{active: currentServiceConfig._id==service._id}">
                                            <button type="button" class="close" ng-click="deleteService(service)">
                                                <span aria-hidden="true">&times;</span>
                                                <span class="sr-only">Close</span>
                                            </button>
                                            <span ng-click="editService(service._id)">{{service.title}}</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-xs-4" ng-if="currentServiceConfig.type">
                                    <h3>{{currentCate.name}} Configuration</h3>
                                    <hr/>
                                    <div class="form-group" ng-class="{'has-error': currentServiceConfig.errors.title}">
                                        <label>Title (*)</label>
                                        <input class="form-control" type="text" ng-model="currentServiceConfig.title" ng-blur="validate('title')"/>
                                        <div class="clearfix"></div>
                                        <div class="help-block" ng-if="currentServiceConfig.errors.title">
                                            {{currentServiceConfig.errors.title}}
                                        </div>
                                    </div>
                                    <div ng-repeat="prop in currentCate.props">
                                        <div class="form-group" ng-class="{'has-error': currentServiceConfig.errors[prop.key]}">
                                            <label class="control-label">
                                                {{prop.name}} <span ng-if="prop.require">(*)</span>
                                            </label>
                                            <input class="form-control" type="text" ng-model="currentServiceConfig.serviceInfo[prop.key]" ng-blur="validate(prop.key)" />
                                            <div class="clearfix"></div>
                                            <div class="help-block" ng-if="currentServiceConfig.errors[prop.key]">
                                                {{currentServiceConfig.errors[prop.key]}}
                                            </div>
                                        </div>
                                    </div>
                                    <button class="btn btn-sm btn-success btn-next" ng-click="submitService()">
                                        <span ng-if="!currentServiceConfig._id">Create service</span>
                                        <span ng-if="currentServiceConfig._id">Update service</span>
                                        <i class="icon-arrow-right icon-on-right"></i>
                                    </button>
                                </div>
                                
                                <!-- PAGE CONTENT ENDS -->
                            </div><!-- /.col -->
                        </div><!-- /.row -->
                    </div><!-- /.page-content -->
                </div><!-- /.main-content -->

            </div><!-- /.main-container-inner -->

            <a id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
                <i class="icon-double-angle-up icon-only bigger-110"></i>
            </a>
        </div><!-- /.main-container -->

        {% include include/footer %}

        <!-- inline scripts related to this page -->
    </body>
</html>
