<!DOCTYPE html>
<html lang="en">
<head>
<title>日志分析</title>

{% include include/inhead %}

<link rel="stylesheet" href="/s/css/search.css" />

{% include include/requirejs %}
<script data-main="console/search" src="/s/js/lib/require.js"></script>
<style>
em {color: red}
</style>
</head>

<body ng-controller="Ctrl">
{% include include/navbar %}

<div class="main-container" id="main-container">
    <div class="main-container-inner">
        <a class="menu-toggler" id="menu-toggler" href="#">
            <span class="menu-text"></span>
        </a>

        <div class="sidebar" id="sidebar" style="height:0">
            <ul class="nav nav-list" ng-include="'navList'"></ul>
            <script type="text/ng-template" id="navList">
            <li>
              <a>
                  <i class="icon-none fa fa-search"></i>
                  <span class="menu-text">按条件过滤</span>
              </a>

              <ul class="submenu" style="display:block">
                <li ng-repeat="field in fields">
                  <a ng-click="toggleField(field)">
                      <i class="icon-none fa fa-angle-double-right"></i>
                      
                      {{field.name}}
                      <i class="fa fa-refresh fa-spin blue" ng-if="field.loading"></i>
                      <b class="arrow fa fa-angle-down"></b>
                  </a>
                    
                  <ul class="submenu" ng-class="{block: field.show}">
                      <li ng-if="field.buckets.length==0">
                        <a style="cursor: default;display: block;padding: 7px 0 9px 22px;">
                          没有结果
                        </a>
                      </li>
                      <li ng-repeat="bucket in field.buckets | limitTo:5">
                          <a ng-click="filterField(field, bucket)">
                              <i class="fa fa-angle-double-right"></i>
                              {{bucket.key}} ({{bucket.doc_count | number:0}})
                          </a>
                      </li>
                      <li ng-if="field.buckets.length>5">
                        <a class="text-right" style="padding-right:5px;" ng-click="showFieldKeys(field)">
                          
                          查看所有({{field.buckets.length}})
                          <i class="fa fa-angle-double-right"></i>
                        </a>
                      </li>
                  </ul>
                </li>
              </ul>
            </li>
            </script>
        </div>

        <div class="main-content">

            <div class="page-content">
              <div class="col-sm-5">
                  <div class="input-group">
                      <input class="form-control input-mask-date" type="text" ng-model="page.keywords" ng-enter="search()">
                      <span class="input-group-btn">
                          <button class="btn btn-sm btn-primary" type="button" ng-click="search()">
                              <i class="fa fa-search bigger-110"></i>
                              搜索
                          </button>
                      </span>
                  </div>
              </div>
              <div class="col-sm-5 pull-right">
                    <div class="input-prepend input-group pull-right">
                       <span class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i></span>
                       <input readonly type="text" style="width: 315px" id="daterange" ng-model="dateRange" ng-change="search()"/>
                       <span class="input-group-addon" data-rel="tooltip" data-placement="top" title="自动刷新" style="cursor: pointer" ng-click="toggleAutoRefresh()">
                          <i class="fa fa-circle" ng-class="{red:!autoRefresh, green:autoRefresh}"></i>
                       </span>
                    </div>
              </div>
              <div class="clearfix"></div>
              <hr/>

              <div ng-include="'pageConent'"></div>

            </div><!-- /.page-content -->
            <script type="text/ng-template" id="pageConent">
              <div ng-if="!(page.filter.field | isEmpty) || !(page.filter.attribute | isEmpty)">字段过滤：
                <span ng-repeat="(key, value) in page.filter.field">
                  <div class="label label-xlg label-gray">
                    <button type="button" class="close" ng-click="removeFieldFilter(key)">
                      <i class="fa fa-times" style="font-size: 13px;float: right;margin: 3px 0 0 5px;"></i>
                    </button>
                    {{key}}:{{value}}
                  </div>
                  &nbsp;
                </span>
                <span ng-repeat="(key, value) in page.filter.attribute">
                  <div class="label label-xlg label-gray">
                    <button type="button" class="close" ng-click="removeAttributeFilter(key)">
                      <i class="fa fa-times" style="font-size: 13px;float: right;margin: 3px 0 0 5px;"></i>
                    </button>
                    {{key}}:{{value}}
                  </div>
                  &nbsp;
                </span>

                <hr>
              </div>
              

              <div ng-if="page.searchResult">
                  <div class="col-sm-12">
                      <h4 style="margin-top:0">{{page.searchResult.hits.total | number:0}} 条记录，
                      用时 {{page.searchResult.took / 1000 | number}} 秒</h4>
                  </div>
                  
                  <div class="clearfix"></div>
              </div>

              <div id="chartCount" style="height:250px; padding:1px;">
                  <div style="font-size:20px; padding-top:20px" class="text-center">Loading...</div>
              </div>

              <div id="resultList" style="overflow-x:auto" ng-if="page.searchResult">

                <table class="table table-striped table-bordered table-hover" ts-wrapper>
                  <thead>
                      <tr>
                          <th>时间</th>
                          <th>主机名称</th>
                          <th>路径</th>
                          <th>内容</th>
                      </tr>
                  </thead>

                  <tbody>
                      <tr ng-if="!page.searchResult.hits.hits.length" class="showIfLast">
                        <td colspan="4"></td>
                      </tr>
                      <tr ng-repeat="hit in page.searchResult.hits.hits">
                          <td style="white-space: nowrap;">
                            {{moment(moment.utc(hit._source.timestamp).toDate())
                              .format('YYYY-MM-DD HH:mm:ss')}}</td>
                          <td>{{hit._source.host}}</td>
                          <td>{{hit._source.path}}</td>
                          <td style="word-break:break-word">
                            <span ng-if="hit.highlightMsg" ng-bind-html="hit.highlightMsg"></span>
                            <span ng-if="!hit.highlightMsg">{{hit._source.message}}</span>
                          </td>
                      </tr>
                  </tbody>
                </table>

                <ul class="pagination">
                  <li ng-class="{active: currentPage==p+1}"
                    ng-repeat="p in _.range(Math.min(10, Math.ceil(page.searchResult.hits.total/100)))">
                    <a ng-click="toPage(p+1)">{{p+1}}</a>
                  </li>
                </ul>
              </div>
            </script>

        </div><!-- /.main-content -->

        
    </div><!-- /.main-container-inner -->

    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
        <i class="fa fa-angle-double-up icon-only bigger-110"></i>
    </a>
</div><!-- /.main-container -->

{% include include/footer %}

<div class="modal fade" id="modalAllFieldKeys">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">{{modalFieldData.field.key}}({{modalFieldData.buckets.length}})</h4>
        <div class="nav-search" style="top:15px; right:50px">
            <span class="input-icon">
                <input type="text" placeholder="Search" class="nav-search-input" ng-model="modalFieldData.filter" />
                <i class="fa fa-search nav-search-icon"></i>
            </span>
        </div>
      </div>
      <div class="modal-body">
        <table class="table table-striped table-bordered table-hover">
          <thead>
              <tr>
                  <th>值</th>
                  <th>数量</th>
              </tr>
          </thead>

          <tbody>
              <tr ng-repeat="bucket in modalFieldData.buckets | filter:modalFieldData.filter">
                  <td><a ng-click="filterField(modalFieldData.field, bucket)">{{bucket.key}}</a></td>
                  <td>{{bucket.doc_count}}</td>
              </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

</body>
</html>
